<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dtcmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_high"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_high"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.ArrangeReportsActivity"></activity>
        <activity android:name=".Activities.ReportDetailActivity" />
        <activity android:name=".Activities.ViewerActivity" />
        <activity android:name=".Activities.AllEmplyeeActivity" />
        <activity android:name=".Activities.ViewProjectDetail" />
        <activity android:name=".Activities.ViewEmployeeDetailActivity" />
        <activity android:name=".Activities.ViewVehicleActivity" />
        <activity android:name=".Activities.ViewLocationActivity" />
        <activity android:name=".SelectMapOnScreenActivity" />
        <activity android:name=".ProjectsActivity" />
        <activity android:name=".CreateNewProjectActivity" />
        <activity android:name=".AddVehiclesActivity" />
        <activity android:name=".VehiclesActivity" />
        <activity android:name=".CreateNewEmployeeActivity" />
        <activity android:name=".CreateLocationActivity" />
        <activity android:name=".SearchLoactionsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Activities.SelectAddressActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FirebaseServices.MyFirebaseMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>